// --------------------------------Header----------------------------------

.blogPage{
    background-image: url(../assets/captured-final-assets/blog-header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 40vh;

ul{
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 0;
    li{
        list-style: none;
        margin-top: 20px;
    }
}
a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    margin: 15px;
    line-height: 29px;
    letter-spacing: 1px;

    &:hover,
    &:focus{
        border-bottom: 2px $siteGreen solid;
    }
}
h1{
    text-align: center;
    font-size: 4rem;
    position: relative;
    z-index: 10;
    margin-top: 100px;
}
}

.blog{
    display: flex;
    position: relative;

    // ---------------------------------------right side of page-----------------------------
    .topImg{
        box-shadow: -30px 30px $siteYellow;
        max-width: 800px;
        width: 55%;
        right: 0;
        top: -230px;
        position: absolute;
        max-height: 500px;
    }

    .right{
        margin-top: 22%;
    }
    .rightTop{
        padding: 10px 50px;
        border-left: solid 5px $siteYellow;
        border-bottom: solid 5px $siteYellow;
        width: 50vh;
    }
    .comments{
        display: flex;
        flex-direction: column;

        h3{
            margin-bottom: 50px;
        }
        .flexContainer{
            display: flex;
            flex-direction: column;
        }
        .commentOne,
        .commentTwo{
            display: flex;
            margin-bottom: 40px;
            p{
                margin: 0;
                margin-bottom: 10px;
            }
        }
        img{
            margin-right: 30px;
            max-width: 100px;
            max-height: 100px;
        }
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .flexbox{
        flex-direction: row;
    }
    input[type=text],
    input[type=email]{
            height: 5vh;
            width: calc((100% / 2));
            margin: 20px 10px;
        }


// -----------------------left side of page-------------------------------------
    .left{
        margin-top: 100px;
        display: flex;
        flex-direction: column;


        .wrapper{
            max-width: 1000px;
            width: 60%;
        }

        img{
            width: 85%;
        }
    }
    .leftTop{
        margin-bottom: 90px;

        a{
            text-decoration: none;
            font-family: $paragraphsFont;
            text-transform: none;
            color: black;
            font-weight: 600;
        }
    }

    .leftBottom{
        ul{
            padding: 0;
        }
        li::before{
            content: '\2022';
            color: $siteGreen;
            margin-right: 15px;
        }
    }
}