.mainPage{
        background-image: url(../assets/captured-final-assets/header-image.jpg);
        background-size: cover;
        position: relative;
        height: 50vh;
        min-height: 600px;

    ul{
        display: flex;
        justify-content: end;
        width: 100%;
        margin: 0;
        li{
            list-style: none;
            margin-top: 20px;
            z-index: 10;
        }
    }
    a{
        color: black;
        text-decoration: none;
        font-size: 1rem;
        margin: 15px;
        line-height: 29px;
        letter-spacing: 1px;

        &:hover,
        &:focus{
            border-bottom: 2px $siteGreen solid;
        }
    }
    h1{
        text-align: center;
        font-size: 6.9rem;
        margin-top: 30vh;
        position: relative;
        z-index: 10;
    }
    .headerImgTwo{
        width: 35%;
        border: 30px solid $siteYellow;
        position: absolute;
        right: 0;
        bottom: -90px;
    }
    .slideOutNav{
        z-index: 30;
        background-color: $siteYellow;
        position: fixed;
        top: 0;
        left: -506px;
        height: 100vh;
        max-width: 506px;
        width: 100%;
        padding: 35px 50px;
        transition: 0.5s;
        .closeMenu{
            color: white;
        }
        .slideOutNavContent{
            margin: 25px;
            li{
                height: 100px;
            }
            a{
                font-size: 2rem;
            }
        }
    }
    .hamburgerMenu{
        left: 0;
        width: 100%;
    }
    .menuButton,
    #openSideMenu{
        visibility: hidden;
        z-index: 40;
        img{
            width: 30px;
        }
    }
}