.about{
    margin-bottom: 100px;

    a{
        display: block;
        text-align: center;
    }
    h2{
        text-align: center;
        font-size: 2rem;
    }
    p{
        text-align: left;
    }
}

.skills{
    margin: 50px 0;
    .wrapper{
        margin: 50px 100px;
        max-width: 35%;
    }
    img{
        max-width: 1000px;
    }
}

.gear{
    .flexContainer{
        flex-direction: row-reverse;
    }
    .wrapper{
        margin: 50px 100px;
        max-width: 35%;
    }
    h3,
    a{
        text-align: end;
    }
    a{
        display: block;
    }
    img{
        max-width: 1000px;
    }
}

.links{
    .topContainer,
    .bottomContainer{
        display: flex;
    }
    .topPicks,
    .community,
    .blog,
    .touch{
        margin: 20px;
    }
    i{
        padding-top: 46px;
        background-color: #4CEEA7;
        border-radius: 100%;
    }
}