// ------------------------------------about-----------------------------
.about{
    margin: 150px 0 100px 0;

    .buttonContainer{
        justify-content: center;
    }
    a{
        display: block;
        text-align: center;
    }
    h2{
        text-align: center;
        font-size: 2.2rem;
        line-height: 92px
    }
    p{
        text-align: left;
    }
}

// ------------------------------------skills section--------------------------------
.skills{
    margin: 100px 0;
    .wrapper{
        margin: 50px 100px;
        max-width: 35%;
    }
    img{
        max-width: 1000px;
        box-shadow: 40px 30px $siteYellow;
    }
}

// ----------------------------------------gear section--------------------------------
.gear{
    margin: 100px 0;
    .buttonContainer{
        justify-content: end;
    }
    .flexContainer{
        flex-direction: row-reverse;
    }
    .wrapper{
        margin: 50px 100px;
        max-width: 35%;
    }
    h3,
    a{
        text-align: end;
    }
    a{
        display: block;
    }
    img{
        max-width: 1000px;
        box-shadow: -40px 30px $siteYellow;
    }
}

// ----------------------links section---------------------------
.links{
    .topContainer,
    .bottomContainer{
        display: flex;
    }
    .topPicks,
    .community,
    .mainBlog,
    .touch{
        margin: 20px;
        position: relative;
    }
    i{
        background-color: #4CEEA7;
        border: solid 9px #4CEEA7;
        border-radius: 100%;
        position: absolute;
        left: -50px;
        top: 25px;
    }
}

// -----------------------------------profile section-------------------
.profile{
    margin-top: 90px;
    
    .thisMonth{
        margin-left: 90px;
    }
    .flexContainer{
        margin-bottom: 100px;
        
        img{
            box-shadow: 40px 30px $siteYellow;
        }
    }
    h3{
        margin: 0 auto;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        img{
            width: calc( (100% / 3) - 50px);
            margin: 25px;
        }
    }
}