@media (max-width: 1300px) {
    .mainPage{
        h1{
            font-size: 5rem;
        }
    }
}




// ---------------------------tablet------------------------
@media (max-width: 1000px) {

    // ------------------------main Page------------------------
    .mainPage{
        h1{
            margin-top: 37vh;
        }
    }

    .skills,
    .gear,
    .thisMonth{
        text-align: center;

        .wrapper{
            margin: 20px auto;
            max-width: 100%;
        }
    }

    .gear{
        h3{
            text-align: center;
        }
        .buttonContainer{
            justify-content: center;
        }
    }

    .gear .flexContainer,
    .flexContainer{
        flex-direction: column;
    }

    .profile{
        img{
            width: 50%;
            margin: 0 auto;
        }
    }

    .thisMonth{
        margin-top: 50px;
    }

    // ---------------------contact page-----------------------
    .contactHeader{
     min-height: 40vh;   
    }
    .contactPage{
        .wrapper{
            flex-direction: column-reverse;
            margin: 0 auto;
        }
        .formContainer{
            position: relative;
            width: 100%;
            top: 0;
            border: none;
        }
        .icons{
            justify-content: center;
            
            i{
                margin: 25px;
            }
        }
    }

    // ---------------------------blog page------------------------------
    .blog{
        flex-direction: column;
        
        // ---------right/bottom-----------
        .topImg{
            position: relative;
            width: 100vh;
            top: 0;
        }
        .right{
            margin: 0 auto;
        }
        .rightTop{
            width: 100%;
            margin: 20px 0;

            h2{
                text-align: center;
            }
        }


        // ----------left/top-------------
        .left{
            margin: 60px 0;
            flex-direction: row;

            
            h3{
                margin: 0;
            }
            .wrapper{
                margin: 10px;
                text-align: center;
                border-right: solid 3px $siteYellow;
                border-bottom: solid 3px $siteYellow;
            }
            img{
                width: 50%;
                margin: 0 auto;
                box-shadow: 20px 30px $siteYellow
            }
        }
    }
    }







// // -------------------------------------------tablet------------------------------
// @media (max-width: 800px) {
//     .gear .flexContainer,
//     .flexContainer{
//         flex-direction: column;
//     }
// }

// --------------------------mobile------------------------------
@media (max-width: 500px) {
    .gear .flexContainer,
    .flexContainer{
        flex-direction: column;
    }
}