@media (max-width: 1300px) {
    .mainPage{
        h1{
            font-size: 5rem;
        }
    }
}




// ---------------------------tablet------------------------
@media (max-width: 1000px) {

    // ------------------------main Page------------------------
    .mainPage{
        h1{
            margin-top: 37vh;
        }
    }

    .skills,
    .gear,
    .thisMonth{
        text-align: center;

        .wrapper{
            margin: 20px auto;
            max-width: 100%;
        }
    }

    .gear{
        h3{
            text-align: center;
        }
        .buttonContainer{
            justify-content: center;
        }
    }

    .gear .flexContainer,
    .flexContainer{
        flex-direction: column;
    }

    .profile{
        img{
            width: 50%;
            margin: 0 auto;
        }
    }

    .thisMonth{
        margin-top: 50px;
    }

    // ---------------------contact page-----------------------
    .contactHeader{
     min-height: 40vh;   
    }
    .contactPage{
        .wrapper{
            flex-direction: column-reverse;
            margin: 0 auto;
        }
        .formContainer{
            position: relative;
            width: 100%;
            top: 0;
            border: none;
        }
        .icons{
            justify-content: center;
            
            i{
                margin: 25px;
            }
        }
    }

    // ---------------------------blog page------------------------------
    .blog{
        flex-direction: column;
        
        // ---------right/bottom-----------
        .topImg{
            position: relative;
            width: 100vh;
            top: 0;
        }
        .right{
            margin: 0 auto;
        }
        .rightTop{
            width: 100%;
            margin: 20px 0;

            h2{
                text-align: center;
            }
        }


        // ----------left/top-------------
        .left{
            margin: 60px 0;
            flex-direction: row;

            
            h3{
                margin: 0;
            }
            .wrapper{
                margin: 10px;
                text-align: center;
                border-right: solid 3px $siteYellow;
                border-bottom: solid 3px $siteYellow;
            }
            img{
                width: 50%;
                margin: 0 auto;
                box-shadow: 20px 30px $siteYellow
            }
        }
    }
    }


// --------------------------mobile------------------------------
@media (max-width: 700px) {
    // --------------------main page-------------------------
    .mainPage{
        background-size: cover;
        height: 32vh;
        min-height: 100px;

        ul{
            flex-direction: column;

            a{
                position: absolute;
                right: 0;
            }
        }

        h1{
            font-size: 3rem;
            padding-top: 12vh;
            margin: 0;
            z-index: 20;
        }

        .about{
            margin: 0;
        }

        .headerImgTwo{
            // position: relative;
            width: 50%;
            z-index: 10;
            bottom: -140px;
            right: 0;
            border: 10px solid $siteYellow;
        }

        .gallery{
            img{
                margin: 0 auto;
            }
        }
    }


    
    .gear{
        margin: 0 auto;
    }
    
    .topContainer,
    .bottomContainer{
        flex-direction: column;
    }

    .profile{
        .flexContainer{
            img{
                width: 100%;
                margin-bottom: 40px;
            }
        }
        .thisMonth{
            margin: 0 auto;
        }
        .gallery{
            img{
                width: 100%;
            }
        }
    }


    // ----------------------------Blog Page-------------------------------
    .blog{
        .left{
            flex-direction: column-reverse;

            .wrapper{
                margin: 0 auto;
                border-bottom: none;
            }
        }
        
        .right{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }

    // ----------------------contact page----------------------
    .contactPage{
        .formContainer,
        form{
            min-width: 100px;
        }
    }
}